<!-- Bootstrap core JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="assets/vendor/datatables/dataTables.buttons.min.js"></script>
<script src="assets/vendor/datatables/jszip.min.js"></script>
<script src="assets/vendor/datatables/pdfmake.min.js"></script>
<script src="assets/vendor/datatables/vfs_fonts.js"></script>
<script src="assets/vendor/datatables/buttons.html5.min.js"></script>

<!-- Page level plugins 
 <script src="assets/vendor/fullcalendar/fullcalendar.min.js"></script>-->

<script src="assets/js/select2.min.js"></script>
<script src="assets/js/demo/datatables-demo.js"></script>

<!-- Bootstrap WYSIHTML5 -->
<script src="assets/js/main.js"></script>

<script type="text/javascript" src="assets/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="assets/vendor/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>