<!--main content end-->
<!--footer start-->

<!--footer end-->

<div class="jumbotron jumbotron-fluid">
    <footer class="site-footer container">
        <div class="text-center">
            Copyright © 2020 X-Pertiz Groupe - Tous droits réservés - {% if non_univ is defined %} {{ non_univ }} {% endif %} - {% if email_univ is defined %} {{ email_univ }} {% endif %}&nbsp;&nbsp;&nbsp;
            <a href="#" class="go-top btn btn-outline-primary">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
</div>