<div class="row text-center container">

    <div class="col-12">
        <h4 class="text-warning"><i class="fa fa-info"></i> &nbsp; IMPRIMER VOTRE FICHE EN LIGNE <br> A L'AIDE DE VOTRE EMAIL et DATE DE NAISSANCE
        </h4> <br/>
    </div>


    <div class="col-12 ">

        <form method="post" enctype="multipart/form-data">

            <div class="row">

                <div class="col-lg-6">
                    <p class="text-form"><b>Email * </b></p>
                    <input type="email" placeholder="Entrez votre mail" name="mail_eleve" id="mail_eleve" class="form-control" required />
                </div>


                <div class="col-lg-6">
                    <p class="text-form"><b>Date de naissance * </b></p>
                    <input type="date" placeholder="Entrez votre date de naissance" name="datenaiss" id="datenaisse" class="form-control" required />
                </div>

            </div>

            <br>
            <div class="modal-footer">
                <button class="btn btn-default" type="reset">ANNULER</button>
                <button class="btn btn-info" type="submit" name="btn_imprime_fiche">IMPRIMER</button>
            </div>
        </form>

    </div>

</div>