{% extends "main.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}


{% if id_pers_personne is defined %}
<input readonly type="hidden" name="global_admin" id="global_admin" value="{{id_pers_personne}}" style="color: white;border: 1px solid white;">
<input readonly type="hidden" name="global_univ" id="global_univ" value="{{fk_iduniv}}" style="color: white;border: 1px solid white;"> 
{% endif %}

<div class="card shadow mb-4">

    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"> Liste des parents </h6>
    </div>
  
      <!-- Card Body -->
      <div class="card-body" style="padding: 1rem 0.30rem;">
        <div class="table-responsive table-condensed" >
          <table class="table table-striped table-bordered table-hover table-condensed" id="dataTable_attrib_listeElev_class" style="width:100%" cellspacing="0" >
            <thead>
              <tr>
                <th>Nom/Prénom</th>
                <th>Date et lieu Naiss.</th>
                <th>Sexe</th>
                <th>Contact</th>
                <th>Nombre d'enfants</th>
                <th></th>
              </tr>
    
            </thead>
            <tfoot>
              <tr>
                <th>Nom/Prénom</th>
                <th>Date et lieu Naiss.</th>
                <th>Sexe</th>
                <th>Contact</th>
                <th>Nombre d'enfants</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody id="eleve_attrib_classe_ListElvClss">


              {% if get_AllParents is defined %}

              {% for parent in get_AllParents %}
                <tr>  
                  <td>{{ parent.nom_prenom }}</td>  
                  <td>{{ parent.date_naiss }} à {{ parent.lieu_naiss }}</td> 
                  <td>{{ parent.sexe }}</td> 
                  <td>{{ parent.contact}}</td> 
                  <td> {% set nbreenfts = parent.matricule|split(';') %} {{nbreenfts|length}}</td>
                  <td class="fieldtype_action field-152-td nowrap">
                    <form action="" method="POST">
                      <button title="Voir" type="submit"  value="btn_parent_voirinfos" class="btn btn-info ">
                        <input type="hidden" name="input_parent_id" value="{{ parent.id_parent_parent }}" required>
                      <i class="fas fa-info"></i>
                      </button>

                      <button name="btn_setuser" type="submit" value="{{ parent.id_parent_parent }}" title="Se Connecter" class="btn btn-warning ">
                        <i class="fas fa-sign-in-alt"></i>
                      </button>
                    </form>
                  </td>

                </tr>
              {% endfor %}

              {% endif %}
    
            </tbody>
          </table>
        </div>
      </div>

</div>



{% endblock %}

{% block javascript_footer_add %}
<script src="assets/js/mescript_admin.js"></script>
{% endblock %} 
