{% extends "main.html" %} 
{% block title %}Suivie Eleve/Etufiant{% endblock %} 
{% block content %}

  <div class="row" style="
    background-image: url('/public/assets/img/background/back_img5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;padding-top: 20px; ">

      <br><br>
      <div class="card shadow mb-4" style="width: 50%; margin:auto ;">

          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Choix de la classe</h6>
          </div>

          <div class="card-body">
            
              <fieldset>

              <div class="row">
                <div class="col-12">
                  <!-- Custom Tabs -->
                  <div class="card">

                    <form method="POST">

                      <div class="form-row">

                          <div class="col-12">

                            <div class="input-group mb-3 form-row">

                              <div class="input-group-prepend col-2">
                                <button type="button" class="btn btn-primary">Classe</button>
                              </div>

                              <select class="form-control col-8"  name="suivi_classe" required>
                                <option value="" disabled selected hidden>Choisissez une classe</option>
                                {% set matiere = '' %}
                                {% for key, value in getProfGroupe  %}
                                  {% if matiere == value.groupe_libelle %}
                                  {% else %}
                                  <option value="{{value.id_groupe}}">{{value.groupe_libelle}}</option>
                                  {% set matiere = value.groupe_libelle %}
                                  {% endif %}
                                {% endfor %} 
                              </select>

                            </div>

                          </div>

                          <button style="margin: auto;" type="submit" name="btn_afficheMoy" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                              <i class="fas fa-info-circle"></i>
                            </span>
                            <span class="text">Afficher</span>
                          </button>
                          
                          <br>
                      </div>
        
                  </form>

                  </div>
                  <!-- ./card -->
                </div>
                <!-- /.col -->
              </div>
                


              </fieldset>
              
          </div>

      </div>

      <!-- The Modal -->
      <div class="modal" id="progEval_modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Programmation de l'evaluation</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Classe : </h6><span id="evalprog_grpe"> </span>
              </div>
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Matière : </h6><span id="evalprog_mat"> </span>
              </div>
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Professeur : </h6><span id="evalprog_prof"> </span>
              </div>
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Contact : </h6><span id="evalprog_tel"> </span>
              </div>

              <hr><hr>
              <br>

              <form method="POST">

                <div class="form-row">

                  <div class="col">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i> Coéfficient </span>
                    <input type="number" class="form-control" name="evalProg_coef" placeholder="2" required>
                  </div>
                  <div class="col">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i> Notation (Ex: /20)</span>
                    <input type="number"  class="form-control" name="evalProg_notation" placeholder="20" required>
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="col-5">
                    <label for="evalProg_date">Date : </label>
                    <input type="date" name="evalProg_date" required>
                  </div>
                  <div class="col-5">
                    <label for="evalProg_salle">Salle : </label>
                    <select name="evalProg_salle" class="form-control" required>
                      <option value="0">Choisissez une salle</option>
                      {% if allSalle is defined %}                 
                        {% for key, value in allSalle  %}
                          <option value="{{value.id_salle}}">{{value.Code_salle}}-{{value.libelle}}</option>
                        {% endfor %} 
                      {% endif %}
                    </select>
                  </div>
                </div>
                <br>


                <div class="form-row">
                  <div class="col">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i> Heure Debut </span>
                    <input type="time" value="00:00" class="form-control" name="evalProg_salle_heuredebut" placeholder="10:00" required>
                  </div>
                  <div class="col">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i> Heure Fin </span>
                    <input type="time" value="00:00" class="form-control" name="evalProg_salle_heurefin" placeholder="12:00" required>
                  </div>
                </div>

                <br>
                
                <span id="evalProg_ideval"></span>
                <button type="submit" class="btn btn-warning btn-icon-split" name="btn_set_evalProg">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Programmer</span>
                </button>
              </form>

            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
      
    </div>



{% endblock %}
{% block javascript_footer_add %}
<script src="assets/js/mescript_admin.js"></script>
{% endblock %} 
