<!DOCTYPE html> {% do gantry.document.addFramework('mootools.core') %}

<html lang="fr">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href='assets/css/inscript_css.css' rel='stylesheet' /> {{ include('Inscription/include/all_head.html') }}


    <link rel="stylesheet" type="text/css" href="assets/css/intlTelInput.css" />
    <style>
        .iti__flag {
            background-image: url("assets/images/flags.png");
        }
        
        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            .iti__flag {
                background-image: url("assets/images/flags@2x.png");
            }
        }
    </style>

</head>

<body>

    <div class="container" id="content">


        {{ include('Inscription/include/header.html') }} {{ include('Inscription/include/NewInscription.html') }} {{ include('Inscription/include/footer.html') }}

    </div>


    {% block javascript_footer %}
    <!-- ::DEBUT :: Script commun aux pages-->
    {{ include('Inscription/include/allscript.html') }}
    <!-- ::FIN :: Script commun aux pages-->
    {% endblock %} {% block javascript_footer_add %}

    <script src="assets/js/intlTel/intlTelInput-jquery.min.js"></script>

    <script type="application/javascript">
        $(document).ready(function() {

            $("#date-popover").popover({
                html: true,
                trigger: "manual"
            });

            $("#date-popover").hide();

            $("#date-popover").click(function(e) {

                $(this).hide();

            });

            $(".phone").intlTelInput({
                // whether or not to allow the dropdown
                allowDropdown: true,

                // if there is just a dial code in the input: remove it on blur, and re-add it on focus
                autoHideDialCode: true,

                // add a placeholder in the input with an example number for the selected country
                autoPlaceholder: "polite",

                // modify the auto placeholder
                customPlaceholder: null,

                // append menu to specified element
                dropdownContainer: null,

                // don't display these countries
                excludeCountries: [],

                // format the input value during initialisation and on setNumber
                formatOnDisplay: true,

                // geoIp lookup function
                geoIpLookup: null,

                // inject a hidden input with this name, and on submit, populate it with the result of getNumber
                hiddenInput: "",

                // initial country
                initialCountry: "ci",

                // localized country names e.g. { 'de': 'Deutschland' }
                localizedCountries: null,

                // don't insert international dial codes
                nationalMode: false,

                // display only these countries
                onlyCountries: [],

                // number type to use for placeholders
                placeholderNumberType: "MOBILE",

                // the countries at the top of the list. defaults to united states and united kingdom
                //preferredCountries: ["us", "gb"],

                // display the country dial code next to the selected flag so it's not part of the typed number
                separateDialCode: false,

                utilsScript: "assets/js/intlTel/utils.js",
            });

        });


        function myNavFunction(id) {

            $("#date-popover").hide();

            var nav = $("#" + id).data("navigation");

            var to = $("#" + id).data("to");

            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);

        }
    </script>



    {% endblock %}

</body>

</html>