{% extends "main.html" %} {% block title %}Administration - Liste professeur{% endblock %} {% block content %}

{% if id_pers_personne is defined %}
<input readonly type="hidden" name="global_admin" id="global_admin" value="{{id_pers_personne}}" style="color: white;border: 1px solid white;">
<input readonly type="hidden" name="global_univ" id="global_univ" value="{{fk_iduniv}}" style="color: white;border: 1px solid white;"> 
{% endif %}
<div class="row" style="
background-image: url('{{base_liens}}/public/assets/img/background/back_img5.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;padding-top: 20px; min-height: 1024px; ">

    <div class="card shadow mb-4 col-12">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Liste des Professeurs </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table caption-top table-striped table-bordered table-hover table-condensed  table-sm"  style="width:100%; " cellspacing="0" id="dtbe_proflist">
                    <thead  class="bg-gradient-info text-white text-center">
                        <tr>
                            <th>Photo</th>
                            <th>Nom/Prénom</th>
                            <th>Sexe</th>
                            <th>Contact</th>
                            <th colspan="2">Matières</th>
                            <th colspan="2">Classes</th>
                            {% if (id_role is defined) and ((id_role == 1) or (id_role == 2) or (id_role == 4) ) %}
                            <th>Informations</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Photo</th>
                            <th>Nom/Prénom</th>
                            <th>Sexe</th>
                            <th>Contact</th>
                            <th colspan="2">Matières</th>
                            <th colspan="2">Classes</th>
                            {% if (id_role is defined) and ((id_role == 1) or (id_role == 2) or (id_role == 4)) %}
                            <th>Informations</th>
                            {% endif %}
                        </tr>
                    </tfoot>
                    <tbody >

                        {% if allProf is defined %} {% for prof in allProf %}
                        <tr>
                            <td> <img id="user_tof_mini" class="img-profile img-thumbnail" src="/files/{{ prof.id_pers_personne}}/tiny{{ prof.id_pers_personne}}.jpg" alt="photo professeur">
                            </td>
                            <td>{{ prof.nom_prenom|upper }}</td>
                            <td>{{ prof.sexe }}</td>
                            <td>{{ prof.contact[:2] }} {{ prof.contact[2:2] }} {{ prof.contact[4:2] }} {{ prof.contact[6:2] }}</td>
                            <td colspan="2">
                                {% if prof.allProfMat is defined %} {% for mat in prof.allProfMat %} ({{ mat.code }})-{{ mat.libele }} <br/> {% endfor %} {% endif %}
                            </td>
                            <td colspan="2">
                                {% if prof.allProfGroupe is defined %} {% for grpe in prof.allProfGroupe %} {{ grpe.groupe_libelle }} : ({{ grpe.code }})-{{ grpe.libmat }} <br/> {% endfor %} {% endif %}
                            </td>

                            {% if (id_role is defined) and ((id_role == 1) or (id_role == 2) ) %}
                            <td class="form-row">
                                <form class="" action="" method="POST">
                                    <input type="hidden" value="{{ prof.id_prof_prof }}" name="id_prof">
                                    <button name="btn_infos" type="submit" value="infos" title="Informations" class="btn btn-info ">
                                    <i class="fas fa-info"></i>
                                    </button>

                                    <button name="btn_setuser" type="submit" value="{{ prof.id_prof_prof }}" title="Se Connecter" class="btn btn-warning ">
                                    <i class="fas fa-sign-in-alt"></i>
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %} {% endif %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>
{% endblock %} 
{% block javascript_footer_add %}
<script src="assets/js/mescript_admin.js"></script>
<script>
    $(document).ready(function() {

        $('#dtbe_proflist').DataTable();

    });
</script>
{% endblock %}