<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="X-PERTIZ GROUPE">
<meta name="author" content="X-PERTIZ GROUPE TEAMS">
<link rel="icon" href="assets/img/favicon.ico" type="image/ico"> {% block stylesheets %}

<link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome-animation.min.css" />

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="assets/css/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="assets/css/select2.min.css" />
<!-- Custom styles for this page -->
<link href="assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="assets/vendor/datatables/buttons.dataTables.min.css" rel="stylesheet">


<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="assets/vendor/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<link rel="stylesheet" type="text/css" href="assets/css/intlTelInput.css" />
<style>
    .iti__flag {
        background-image: url("assets/images/flags.png");
    }
    
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .iti__flag {
            background-image: url("assets/images/flags@2x.png");
        }
    }
</style>
{% endblock %}
<!-- :fichier de configuration :JS VARIABLE GLOBAL: -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/js/config.js"></script>