<li class="nav-item">

    <a class="nav-link collapsed text-center" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">

    <i class="fas fa-fw fa-university" style="font-size: 2rem;"></i><br>

    <span>Vie Scolaire</span>

    </a>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">

    <div class="bg-white py-2 collapse-inner rounded">

        <a class="collapse-item" href="index.php?p=note_eleve">Notes</a>

        <a class="collapse-item" href="index.php?p=moy_eleve">Moyennes</a>

        <a class="collapse-item" href="index.php?p=pv_eleve">Bulletin provisoire</a>

        <a class="collapse-item" href="index.php?p=absences_eleve">Absences</a>

        <a class="collapse-item" href="index.php?p=stages">Mes Stages</a>
        <!--
        <a class="collapse-item" href="index.php?p=convocation_eleve">Convocation</a>

        <a class="collapse-item" href="index.php?p=information_eleve">Informations</a>
        -->
    </div>

    </div>

</li>
<!-- 
<li class="nav-item">

    <a class="nav-link collapsed text-center" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

    <i class="fas fa-fw fa-calendar" style="font-size: 2rem;"></i><br>

    <span>Agenda</span>

    </a>

    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

    <div class="bg-white py-2 collapse-inner rounded">

        <a class="collapse-item" href="index.php?p=evaluation_eleve">Programme Evaluations</a>

        <a class="collapse-item" href="index.php?p=pro_cours_eleve">Programme de cours</a>

        <a class="collapse-item" href="index.php?p=agenda_eleve">Activités</a>

        <a class="collapse-item" href="index.php?p=agenda_eleve">Agenda Personnel</a>

    </div>

    </div>

</li>
-->



<li class="nav-item">

    <a class="nav-link collapsed text-center" href="#" data-toggle="collapse" data-target="#collapseOne_Eleae" aria-expanded="true" aria-controls="collapseOne_Eleae">
    

    <i class="fas fa-fw fa-book" style="font-size: 2rem;"></i><br>

    <span>E-learning</span>

    </a>
    <div id="collapseOne_Eleae" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

        <div class="bg-white py-2 collapse-inner rounded">
    
            <a class="collapse-item" href="index.php?p=elearning_mescours">Mes Cours</a>

            <a class="collapse-item" href="index.php?p=elearning_eleve_eval">Evaluations</a>
    
        </div>
    
    </div>

</li>
<!--
<li class="nav-item">

    <a class="nav-link collapsed text-center" href="index.php?p=fichier_perso">

    <i class="fas fa-fw fa-folder" style="font-size: 2rem;"></i><br>

    <span>Mes Dossier</span>

    </a>

</li>
-->


