<li class="nav-item">
    <a class="nav-link collapsed text-center" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-folder" style="font-size: 2rem;"></i><br>
        <span>Gestion des Classes</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="index.php?p=prof_evaluation">Evaluations</a>
            <a class="collapse-item" href="index.php?p=prof_saisi_note">Notes</a>
            <a class="collapse-item" href="index.php?p=prof_moy">Moyennes</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed text-center" href="#" data-toggle="collapse" data-target="#collapseTwod" aria-expanded="true" aria-controls="collapseTwod">
        <i class="fas fa-fw fa-folder" style="font-size: 2rem;"></i><br>
        <span>Gestion des Étudiants</span>
    </a>
    <div id="collapseTwod" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="index.php?p=prof_group_info">Suivi Étudiants</a>
            <a class="collapse-item" href="index.php?p=prof_etudStage">Stage Étudiants</a>
        </div>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link collapsed text-center" href="#" data-toggle="collapse" data-target="#collapseTwo_El1" aria-expanded="true" aria-controls="collapseTwo_El1">
        <i class="fas fa-fw fa-book" style="font-size: 2rem;"></i><br>
        <span>Mes Cours</span>
    </a>
    <div id="collapseTwo_El1" class="collapse" aria-labelledby="headingTwo_El1" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="index.php?p=elearning_prof">Suivi des cours</a>
            <!-- 
            <a class="collapse-item" href="index.php?p=elearning_prof_upload">Upload</a>
            -->
        </div>
    </div>

</li>