<div class="row">
    <div class="row col-4">
        <p class="text-center  small col-12">
            <strong>
            Ministère de l'Enseignement Supérieur et de la Recherche Scientifique
            <br> <br>ESSECT POINCARE ABIDJAN
            </strong>
        </p>
        <div class="row col-12">
            <div class="col-4">
                <img class="img-thumbnail" src="/public/assets/images/bulletin/logo_poincare_abdj_college.jpg">
            </div>
            <div class="col-8">
                <strong>28 BP 1087 ABIDJAN 28
                        <br>TEL:(225) 2241 6794
                        <br>FAX:(225) 2242 2815
                        <br>EMAIL:poincareabidjan@yahoo.fr
                        <br>WEB: www.etspoincare.com
                </strong>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <p class="text-center  small">
            <strong>REPUBLIQUE DE CÔTE D'IVOIRE
                <br><br>UNION-DISCIPLINE-TRAVAIL
                <br><img class="img-responsive" src="/public/assets/images/bulletin/logo_ci.png"  height="80" >
                <br>Année Academique:   {% if get_anneScol_Partie_By.0.annee_libelle is defined %} {{get_anneScol_Partie_By.0.annee_libelle}}  {% else %} 2020-2021(TEST) {% endif %}
            </strong>
        </p>


    </div>
</div>
<div class="row">
    <div class="col-4">
        <strong><br><br><br>Matricule : <span class="text-danger">
            {% if get_etudiPers_Infos_By is defined %} {{get_etudiPers_Infos_By.matricule}} {% else %} 174102267(TEST) {% endif %}
        </span>
        <br>Nom &amp; Prénoms : 
        {% if get_etudiPers_Infos_By is defined %} {{get_etudiPers_Infos_By.nom_prenom}} {% else %} AKRE DJOMAN RAYMONDE(TEST) {% endif %}
        <br>Date de Naissance : {% if get_etudiPers_Infos_By is defined %} {{get_etudiPers_Infos_By.date_naiss}} {% else %} 07-01-1996(TEST) {% endif %}
        <br>Classe [Effectif] : 
            {% if get_grpeWithBultinInfos_By is defined %} 
                {{get_grpeWithBultinInfos_By.groupe_libelle}} 
            {% else %} 
                1BTS AD [15](TEST) 
            {% endif %}
		</strong>
    </div>
    <div class="col-5">
        <strong>
  			   <br>
                <span style="color: white; background-color: MediumSeaGreen;padding-top: 20px;padding-bottom: 20px;padding-right: 20px;padding-left: 20px;" >
                    BULLETIN DU 2eme SEMESTRE
  		        </span>
                  <br><br><br>Lieu de naissance:          
                    {% if get_etudiPers_Infos_By is defined %} 
                        {{get_etudiPers_Infos_By.lieu_naiss}} 
                    {% else %} 
                    SONGON AGBAN(TEST) 
                    {% endif %} 
                    <br>Affecté : 
                    {% if get_etudiPers_Infos_By is defined %} 
                        {{get_etudiPers_Infos_By.statut_affecter}} 
                    {% else %} 
                        AFFECTATION(TEST) 
                    {% endif %} 
                    <br>Boursier : 
                    {% if get_etudiPers_Infos_By is defined %} 
                        {{get_etudiPers_Infos_By.satut_brourse}} 
                    {% else %} 
                        BOURSIER(TEST) 
                    {% endif %} 
                    <br>Redoublant : 
                    {% if get_etudiPers_Infos_By is defined %} 
                        {{get_etudiPers_Infos_By.statut_redoublant}} 
                    {% else %} 
                        BOURSIER(TEST) 
                    {% endif %} 
  		</strong>
    </div>
    <div class="col-3">
        <br>
        <img class="img-responsive" {% if get_etudiPers_Infos_By is defined %} src="/files/{{get_etudiPers_Infos_By.id_pers_personne}}/{{get_etudiPers_Infos_By.id_pers_personne}}.jpg" {% else %} src="/public/assets/images/bulletin/f.png" {% endif %} height="80">
    </div>
    <div class="col-12">
        <strong>
        	<table class="table table-responsive table-bordered">
                <tr style="background-color:LightGray;">
        		      <th>MATIERES</th>
        		      <th>MOY/20</th>
        		      <th>COEF</th>
        		      <th>MOY COEF</th>
        		      <th>RANG</th>
        		      <th>APPRECIAT.</th>
        		      <th>MOY AN</th>
        		      <th>ENSEIGNANTS</th>
        		      <th>SIGNATURE</th>
                </tr>
                <tr>
                  <td>ANGLAIS COMMERCIAL</td>
                  <td>14,16</td>
                  <td>3</td>
                  <td>42,48</td>
                  <td>5eme</td>
                  <td>BIEN</td>
                  <td>15,44</td>
                  <td>KAKOU BI DURAND</td>
                  <td></td>
                </tr>
                <tr>
                  <td>ANGLAIS GENERAL</td>
                  <td>8,5</td>
                  <td>3</td>
                  <td>25,5</td>
                  <td>8eme</td>
                  <td>INSUFFISANT</td>
                  <td>8,27</td>
                  <td>KOUADIO ABO JEAN</td>
                  <td></td>
                </tr>
                <tr>
                  <td>COMPTABILITE,DOCUMENTS COMM.</td>
                  <td>12,5</td>
                  <td>2</td>
                  <td>25,00</td>
                  <td>3eme</td>
                  <td>ASSEZ BIEN</td>
                  <td>12,55</td>
                  <td>N'GUESSAN K. PACOME</td>
                  <td></td>
                </tr>
                <tr>
                     <td>CULTURE GENERALE ET LINGUISTIQUE</td>
                     <td>13,5</td>
                     <td>1</td>
                     <td>13,5</td>
                     <td>2eme</td>
                     <td>ASSEZ BIEN</td>
                     <td>13,16</td>
                     <td>KOUADIO N'DA ALEXIS</td>
                     <td></td>
                </tr>
                <tr>
                     <td>DROIT DES AFFAIRES DROIT DU TRAVAIL</td>
                     <td>14,5</td>
                     <td>3</td>
                     <td>43,5</td>
                     <td>3eme</td>
                     <td>BIEN</td>
                     <td>14,75</td>
                     <td>KONE ADAMA</td>
                     <td></td>
                </tr>
                <tr>
                     <td>ECONOMIE D'ENTREPRISE</td>
                     <td>10,67</td>
                     <td>2</td>
                     <td>21,34</td>
                     <td>4eme</td>
                     <td>PASSABLE</td>
                     <td>11,33</td>
                     <td>KOUAME MATTHIEU</td>
                     <td></td>
                </tr>
                <tr>
                     <td>ECONOMIE GENERALE</td>
                     <td>8,5</td>
                     <td>2</td>
                     <td>17</td>
                     <td>12eme</td>
                     <td>INSUFFISANT</td>
                     <td>10,00</td>
                     <td>KONATE ADAMA</td>
                     <td></td>
                </tr>
                <tr>
                     <td>ORTHOGRAPHE-GRAMMAIRE</td>
                     <td>14.5</td>
                     <td>1</td>
                     <td>14.5</td>
                     <td>1er</td>
                     <td>BIEN</td>
                     <td>14,00</td>
                     <td>KOUADIO N'DA ALEXIS</td>
                     <td></td>
                </tr>
                <tr>
                  <td>STATISTIQUES</td>
                     <td>13,5</td>
                     <td>2</td>
                     <td>27,00</td>
                     <td>6eme</td>
                     <td>ASSEZ BIEN</td>
                     <td>12,16</td>
                     <td>KONATE ADAMA</td>
                     <td></td>
                </tr>
                <tr>
                    <td>TECHNIQUES D'EXPRESSION FRAN.</td>
                    <td>14,5</td>
                    <td>3</td>
                    <td>43,5</td>
                    <td>1er</td>
                    <td>BIEN</td>
                    <td>14,22</td>
                    <td>BLESSON CHRISTIAN</td>
                    <td></td>
                </tr>
                <tr style="background-color:MediumSeaGreen;">
                    <td>BILAN MATIERES GENERALES</td>
                    <td>12,42</td>
                    <td>22</td>
                    <td>273,31</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>APPLICATION BUREAUTIQUE</td>
                    <td>11,00</td>
                    <td>5</td>
                    <td>55,00</td>
                    <td>4eme</td>
                    <td>MOYEN</td>
                    <td>12,33</td>
                    <td>GNAGBO ROLANDE</td>
                    <td></td>
                </tr>
                <tr>
                    <td>EXPRESSION PROFESSIONNELLE</td>
                    <td>11,33</td>
                    <td>2</td>
                    <td>22,66</td>
                    <td>8eme</td>
                    <td>MOYEN</td>
                    <td>11,22</td>
                    <td>SEKA MARIE FRANCE</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ORGANISATION ET METHODES ADM.</td>
                    <td>10,16</td>
                    <td>4</td>
                    <td>40,64</td>
                    <td>5eme</td>
                    <td>PASSABLE</td>
                    <td>10,10</td>
                    <td>SEKA MARIE FRANCE</td>
                    <td></td>
                </tr>
                <tr>
                    <td>OUTILS DE COMMUNICATION</td>
                    <td>11,83</td>
                    <td>2</td>
                    <td>23,66</td>
                    <td>9eme</td>
                    <td>MOYEN</td>
                    <td>11,60</td>
                    <td>OUATTARA G.FATOU</td>
                    <td></td>
                </tr>
                <tr>
                    <td>STENOGRAPHIE</td>
                    <td>14,33</td>
                    <td>3</td>
                    <td>42,99</td>
                    <td>6eme</td>
                    <td>BIEN</td>
                    <td>12,22</td>
                    <td>SEKA MARIE FRANCE</td>
                    <td></td>
                </tr>
                <tr style="background-color:MediumSeaGreen;">
                    <td>BILAN PROFESSIONNEL</td>
                    <td>11,55</td>
                    <td>16</td>
                    <td>184,95</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>CONDUITE</td>
                    <td>14,00</td>
                    <td>1</td>
                    <td>14,00</td>
                    <td>5eme</td>
                    <td>ASSEZ BIEN</td>
                    <td>12,66</td>
                    <td>SEKA MARIE FRANCE</td>
                    <td></td>
                </tr>
                <tr style="background-color:MediumSeaGreen;">
                    <td>BILAN AUTRES</td>
                    <td>14,00</td>
                    <td>1</td>
                    <td>14</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="background-color:MediumSeaGreen">
                <td>TOTAUX</td>
                <td></td>
                <td>39</td>
                <td>472,26</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </table>
        </strong>
    </div>
    <br><br>
    <div class="col-12">
        <table style="width: 100%" .="" border="1px">
            <tr style="background-color:LightGray;">
                <th>Moyenne Generale</th>
                <th>12,10</th>
                <th>Rang Annuelle</th>
                <th>Statistiques de la Classe</th>
                <th>Heures d'absence</th>
            </tr>
            <tr style="background-color:LightGray;">
                <td>MOYENNE ANNUELLE</td>
                <td>12.15</td>
                <td>7eme</td>
                <td>Moy. Classe: 9,96<br>Moy.plus elevée: 13,93<br>Moy. plus faible :1 ,97</td>
                <td>Nombre: <br>Heures Justif: </td>
            </tr>
        </table>
    </div>
    <br><br>
    <div class="col-12">
        <table style="width: 100%" .="" border="1px">
            <tr style="background-color:LightGray;">
                <th>SIGNATURE DU PROFESSEUR TITULAIRE</th>
                <th>DECISION DU CONSEIL DE CLASSE</th>
                <th>LE DIRECTEUR DES ENSEIGNEMENTS</th>
            </tr>
            <tr style="background-color:LightGray;">
                <td><br><br><br></td>
                <td><br><br><br></td>
                <td><br><br><br></td>
            </tr>
        </table>
    </div>
</div>