<!DOCTYPE html> {% do gantry.document.addFramework('mootools.core') %} {% do gantry.document.addFramework('mootools.more') %}
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {{ include('include/all_head.html') }}

    <!--SCRIPT PERSO PAGE-->
    <link href='assets/vendor/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='assets/vendor/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='assets/vendor/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='assets/vendor/fullcalendar/list/main.css' rel='stylesheet' />



</head>

<body class="page-top">
    <!--Affiche les variables twig -->
    <!-- {% for key, value in _context  %}<li>{{ key}}</li>{% endfor %} 
        {% if etat_inscrip is defined %}
        {% endif %}
    -->


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{ include('include/sidebar_ul.html') }}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar Navbar -->
                <!-- ::DEBUT :: Topbar Navbar LIGNE D'ENTETE-->
                {{ include('include/topbar.html') }}
                <!-- ::FIN :: Topbar Navbar LIGNE D'ENTETE-->
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- ::DEBUT :: HEDEAR PAGE (NOM UNIV ET TOST*)-->
                    {{ include('include/header_page.html') }}
                    <!-- ::FIN :: HEDEAR PAGE (NOM UNIV ET TOST*)-->


                    {% block content %} {% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{ include('include/footer.html') }}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Voulez vous vraiment vous déconnecter ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
                </div>
                <div class="modal-body">Cliquez sur "Fermer" si vous voulez mettre fin à la session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="index.php?p=logout">Fermer</a>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL POUR FAIRE PATIENTEZ
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Open modal</button> -->
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }
        /* Safari */
        
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- The Modal -->
    <div class="modal fade modal-sm" id="myModal_fairepatientez">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <span class="modal-title">Veuillez Patienter 
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                </span>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="loader center"></div>
            </div>

        </div>
    </div>
    </div>





    {% block javascript_footer %}
    <!-- ALL SCRIPT-->
    <!-- ::DEBUT :: Script commun aux pages-->
    {{ include('include/allscript.html') }}
    <!-- ::FIN :: Script commun aux pages-->


    <!-- Page specific script 
        <script src="assets/vendor/fullcalendar/moment.min.js"></script>
        <script src="assets/vendor/fullcalendar/fullcalendar.js"></script>-->


    {% endblock %} {% block javascript_footer_add %} {% endblock %}


    <!-- ::DEBUT :: Script commun aux pages-->
    {{ include('include/toastscript.html') }}
    <!-- ::FIN :: Script commun aux pages-->


</body>


</html>